---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <center> <span>Category: {{ page.categories[0] }}</span> <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.author %}
     <div class="">
       <center><p ><strong><span class="authorKeyword">Author</span><span class="small-site-title"> <h2 style="letter-spacing: 3px !important;
       text-transform: uppercase !important;">{{page.author}}</h2></span></strong></p></center>

     </div>
     {% endif %}
   </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
    {% endif %}
    {{ content }}
  </div>

  {% include related-posts.html %}


</article>
